@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #d3d3d3;
}

#sticky-footer {
  flex-shrink: none;
}

.navbar {
  background-color: #000 !important;
}

.nav-link {
  color: #fff !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background: asset-url('jumbotron.jpg') no-repeat center center/cover;
  height: 425px;
}
